    /* Estilos de 0px en adelante */
    
    * {
        box-sizing: border-box;
    }
    
    html {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Navegation Menu */
    
    header {
        background: #000000;
        color: #fff;
        font-weight: bold;
    }
    
    header #nav-mobile {
        align-items: center;
        display: flex;
        height: 54px;
        justify-content: space-between;
    }
    
    header #nav-mobile .nav-mobile-header-column {
        align-items: center;
        display: flex;
        height: 25px;
        padding-left: 15px;
        padding-right: 15px;
        width: 60px;
    }
    
    .logo {
        align-items: center;
        display: flex;
        height: 25px;
        padding-left: 15px;
        padding-right: 15px;
        width: 60px;
    }
    
    .logo img {
        padding-right: 5px;
        width: 100%;
    }
    
    .logo span sup {
        font-size: 4px;
    }
    
    header #nav-desktop {
        display: none;
    }
    /* Get Premium free */
    
    #sct-main-container .sct-introduction {
        background: #1D75DE;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 450px;
        padding: 48px 15px;
        width: 100%;
    }
    
    #sct-main-container .sct-introduction .sct-headers {
        height: 125px;
    }
    
    #sct-main-container .sct-introduction h1 {
        font-weight: bolder;
        font-size: 28px;
    }
    
    #sct-main-container .sct-introduction h2 {
        font-size: 18px;
        margin: 30px 0;
    }
    
    #sct-main-container .sct-introduction .sct-buttons {
        display: flex;
        flex-direction: column;
        height: 100px;
        text-align: center;
        justify-content: space-between;
    }
    
    #sct-main-container .sct-introduction .sct-buttons a {
        align-items: center;
        border-radius: 25px;
        color: #FFFFFF;
        display: flex;
        font-size: 14px;
        font-weight: bolder;
        justify-content: center;
        padding: 14px 32px;
        text-decoration: none;
    }
    
    #sct-main-container .sct-introduction .sct-buttons a:hover {
        font-size: 16px;
    }
    
    #sct-main-container .sct-introduction .sct-buttons .btn-getStart {
        background: #191414;
    }
    
    #sct-main-container .sct-introduction .sct-buttons .btn-viewPlans {
        border: 2px solid #FFFFFF;
    }
    
    #sct-main-container .sct-introduction .sct-buttons .btn-viewPlans:hover {
        background-color: rgb(97, 87, 87);
        opacity: .2;
    }
    
    #sct-main-container .sct-introduction .sct-tAndCs {
        display: flex;
        font-size: 11px;
        height: 50px;
        align-items: flex-end;
    }
    
    #sct-main-container .sct-introduction .sct-tAndCs a {
        color: #ffffff;
    }
    /* Why go Premium */
    
    #sct-main-container .sct-whyGoPremium {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 35px 15px;
    }
    
    #sct-main-container .sct-whyGoPremium h2 {
        font-size: 28px;
        font-weight: bolder;
    }
    
    #sct-main-container .sct-whyGoPremium .sct-whyGoPremium-info {
        display: flex;
        flex-direction: column;
        height: 800px;
        justify-content: center;
        width: 100%;
    }
    
    #sct-main-container .sct-whyGoPremium .sct-wgp-small {
        display: flex;
        flex-direction: column;
        height: 350px;
        justify-content: space-around;
    }
    
    #sct-main-container .sct-whyGoPremium .info-services {
        display: flex;
        align-items: left;
        height: 142px;
        width: 100%;
    }
    
    #sct-main-container .sct-whyGoPremium .info-services img {
        height: 142px;
        padding-right: 20px;
        width: 142px;
    }
    
    #sct-main-container .sct-whyGoPremium .info-services .info-services-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
    
    #sct-main-container .sct-whyGoPremium .info-services .info-services-text h3 {
        font-size: 21px;
        font-weight: bold;
    }
    
    #sct-main-container .sct-whyGoPremium .info-services .info-services-text p {
        font-size: 16px;
    }
    /* Plans information */
    
    #sct-main-container .sct-plans {
        align-items: center;
        background: #EFEFEF;
        display: flex;
        flex-direction: column;
        height: 2400px;
        justify-content: space-evenly;
        padding: 35px 15px;
    }
    
    #sct-main-container .sct-plans .sct-plans-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 180px;
        justify-content: space-evenly;
    }
    
    #sct-main-container .sct-plans .sct-plans-header h2 {
        font-size: 32px;
        font-weight: bold;
    }
    
    #sct-main-container .sct-plans .sct-plans-header p {
        text-align: center;
        font-size: 16px;
    }
    
    #sct-main-container .sct-plans .sct-plans-header figure img {
        height: 20px;
        width: 29px;
    }
    
    #sct-main-container .sct-available-plans {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 2500px;
    }
    
    #sct-main-container .sct-plans .sct-plan-info {
        background: #fff;
        box-shadow: 5px 10px 8px 5px #D7D7D7;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: 440px;
        justify-content: space-evenly;
        padding: 20px;
        width: 420px;
    }
    
    #sct-main-container .sct-plans .sct-plan-info .plan-heading {
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }
    
    #sct-main-container .sct-plans .sct-plan-info .plan-heading span {
        align-items: center;
        background: #0D72EA;
        border-radius: 4px;
        display: flex;
        color: #FFFFFF;
        height: 25px;
        justify-content: center;
        width: 100px;
    }
    
    .sct-available-plans h3 {
        font-size: 24px;
        font-weight: bold;
    }
    
    #sct-main-container .sct-plans .sct-plan-info hr {
        border-top: 2px solid #787878;
        border-bottom: 2px solid #CCCCCC;
        border-width: 1px;
    }
    
    #sct-main-container .sct-plans .sct-plan-info .plan-list {
        display: flex;
        flex-direction: column;
        height: 35%;
    }
    
    #sct-main-container .sct-plan-info .sct-buttons {
        display: flex;
        height: 50px;
    }
    
    #sct-main-container .sct-plan-info .sct-buttons a {
        align-items: center;
        background: #191414;
        border-radius: 25px;
        color: #FFFFFF;
        display: flex;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        width: 100%;
    }
    
    #sct-main-container .sct-plan-info .sct-tAndCs {
        align-items: flex-end;
        display: flex;
        font-size: 12px;
        height: 90px;
    }
    
    #sct-main-container .sct-plan-info .sct-tAndCs p,
    #sct-main-container .sct-plan-info .sct-tAndCs a {
        color: #000000;
        font-size: 12px;
        line-height: 18px;
    }
    
    #sct-main-container .sct-plans .family {
        display: flex;
        height: 470px;
    }
    
    #sct-main-container .sct-plans .student {
        display: flex;
        flex-direction: column;
        height: 570px;
    }
    /* Footer */
    
    footer {
        background: #000000;
        color: #FFFFFF;
        height: 1100px;
        width: 100%;
    }
    
    footer a {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 15px 20px 15px;
    }
    
    footer .footer-nav .logo {
        height: 80px;
    }
    
    .footer-links {
        display: flex;
        flex-direction: column;
        height: 800px;
        justify-content: space-evenly;
    }
    
    .footer-links .footer-links-col {
        display: flex;
        flex-direction: column;
        height: 230px;
        line-height: 40px;
    }
    
    .footer-links .footer-links-col h4 {
        color: #919496;
        font-size: 12px;
    }
    
    .footer-links .footer-links-col a {
        font-size: 16px;
    }
    
    .footer-links .footer-links-col a:hover {
        color: #1ed760;
    }
    
    .footer-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 200px;
    }
    
    .footer-social img {
        background-color: #fff;
        border-radius: 25px;
        height: 40px;
        width: 40px;
    }
    
    .footer-social a:hover img {
        background-color: #1ed760;
    }
    
    .footer-about {
        display: flex;
        color: #919496;
        flex-direction: column;
        font-size: 10px;
        width: 100%;
    }
    
    .footer-about .info-location {
        display: flex;
        justify-content: right;
    }
    
    .footer-about .info-location span {
        display: flex;
        align-items: center;
    }
    
    .footer-about .info-disclosures {
        display: flex;
        line-height: 30px;
        justify-content: space-between;
    }
    
    .footer-about .info-legal {
        display: flex;
        width: 60%;
    }
    
    .footer-about .info-legal ul {
        align-items: flex-end;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .footer-about .info-legal ul li {
        display: flex;
    }
    
    .footer-about a {
        color: #919496;
    }
    
    .footer-about a:hover {
        color: #1ed760;
    }
    
    .footer-about .info-year {
        display: flex;
        justify-content: right;
        padding-top: 10px;
        width: 25%;
        height: 50px;
    }
    /* Estilos de 768px en adelante */
    
    @media all and (min-width: 768px) {
        /* Get Premium free */
        #sct-main-container .sct-introduction .sct-buttons {
            flex-direction: row;
            height: 50px;
            text-align: center;
            justify-content: space-between;
            width: 340px;
        }
        /* Why go Premium */
        #sct-main-container .sct-whyGoPremium .sct-whyGoPremium-info {
            display: flex;
            flex-direction: column;
            height: 500px;
            justify-content: space-around;
            padding: 35px 15px;
        }
        #sct-main-container .sct-whyGoPremium .sct-wgp-medium {
            display: flex;
            flex-direction: row;
        }
        /*Footer*/
        footer {
            height: 700px;
            width: 100%;
        }
        .footer-links {
            display: flex;
            flex-direction: row;
            height: 400px;
            justify-content: start;
        }
        .footer-links .footer-links-col {
            display: flex;
            height: 250px;
            line-height: 40px;
            width: 300px;
        }
    }
    /* Estilos de 992px en adelante */
    
    @media all and (min-width: 992px) {
        header #nav-mobile {
            display: none;
        }
        header #nav-desktop {
            align-items: center;
            display: flex;
            height: 80px;
            justify-content: space-between;
        }
        header #nav-desktop .logo {
            align-items: center;
            display: flex;
            height: 39px;
            padding-left: 15px;
            padding-right: 15px;
            width: 40px;
        }
        header #nav-desktop .logo img {
            padding-right: 5px;
            width: 40px;
        }
        header #nav-desktop .logo span {
            font-size: 25px;
        }
        header #nav-desktop .logo .logo span sup {
            font-size: 4px;
        }
        header #nav-desktop .nav-menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 60%;
            height: 70px;
        }
        header #nav-desktop .nav-menu a {
            color: #FFFFFF;
            font-size: 16px;
            padding: 18px 27px;
            text-decoration: none;
        }
        header #nav-desktop .nav-menu a:hover {
            color: #1ed760;
        }
        header #nav-desktop .nav-menu span {
            font-weight: lighter;
        }
        #sct-main-container .sct-introduction .sct-headers h1 {
            font-size: 40px;
        }
        #sct-main-container .sct-introduction .sct-headers h2 {
            font-size: 24px;
        }
        #sct-main-container .sct-whyGoPremium h2 {
            font-size: 40px;
        }
        #sct-main-container .sct-plans .sct-plan-info {
            width: 440px;
        }
        /*Footer*/
        footer {
            height: 450px;
        }
        .footer-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .footer-nav .logo {
            font-size: 20px;
            height: 80px;
            width: 80px;
        }
        .footer-links {
            display: flex;
            flex-direction: row;
            height: 300px;
            width: 500px;
        }
        .footer-about .info-disclosures {
            font-size: 12px;
        }
        .footer-about .info-legal {
            display: flex;
            flex-direction: column;
            width: 500px;
        }
    }
    /* Estilos de 1200px en adelante */
    
    @media all and (min-width: 1200px) {
        header #nav-desktop {
            display: flex;
            justify-content: center;
        }
        #sct-main-container .sct-whyGoPremium {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 35px 15px;
        }
        #sct-main-container .sct-whyGoPremium .sct-whyGoPremium-info {
            align-items: center;
            display: flex;
            flex-direction: row;
            height: 400px;
        }
        #sct-main-container .sct-whyGoPremium .sct-wgp-xl {
            width: 50%;
        }
        #sct-main-container .sct-whyGoPremium .info-services {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 350px;
        }
        #sct-main-container .sct-whyGoPremium .info-services .info-services-text {
            align-items: center;
            display: flex;
            height: 100px;
        }
        #sct-main-container .sct-plans {
            height: 900px;
        }
        #sct-main-container .sct-available-plans {
            display: flex;
            flex-direction: row;
            height: 800px;
            justify-content: space-evenly;
            width: 1100px;
        }
        #sct-main-container .sct-plans .sct-plan-info {
            display: flex;
            flex-direction: column;
            height: 700px;
            padding: 20px;
            width: 230px;
        }
        #sct-main-container .sct-available-plans .sct-plan-info .sct-tAndCs {
            display: flex;
            align-items: flex-start;
            height: 200px;
        }
        footer {
            display: flex;
            justify-content: center;
        }
        .footer-nav {
            width: 65%;
        }
        .footer-social {
            width: 160px;
        }
    }